body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
    background: #000016;
}

#info {
    position: absolute;
    bottom: 0;
    right: 0;
    color: darkgrey;
    font-size: 12px;
    opacity: 0.7;
}

#controls {
    font-size: 14px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    padding: 1px 5px 5px 5px;
    color: darkgrey;
    background: #000033;
    opacity: 0.5;
    border-radius: 3px;
    z-index: 1000;
}

#controls:hover {
    opacity: 1;
}

.slider-control {
    position: relative;
    top: 3px;
    cursor: grab;
    cursor: -webkit-grab;
}

.slider-control:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}