body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
}

.twitch-sun {
    fill: #6441A4;
    stroke: #fff;
	stroke-width : 5;
}

.edge {
    stroke: #aaa;
    stroke-width : 5;
    fill: transparent;
}


.info-box {
    stroke: #6441A4;
    fill: #6441A415;
    stroke-width : 5;
    /* fill: transparent; */
}

.arc {
    stroke: #fff;
	stroke-width : 1.5;
    /* fill: black; */
}

.orbit {
    stroke: #00000020;
    fill: transparent;
}

.axis{
    stroke: #fff;
    stroke-width: 4px;
    /* stroke-dasharray : 16,2; */
}

.info-text-h1{
    fill: #6441A4;
    font-size:2.3em;
    font-weight:bold
}
.info-text-h2{
    fill: #6441A4;
    font-size:2em;
}
.info-text-h3{
    fill:#444;
    font-size:1.2em;
    font-weight:bold;
}

.info-text-h4{
    fill: #6441A4;
    font-size:0.93em;
    font-weight:bold;
    font-style: italic;
}

.totv-axis{
    /* stroke: #fff;
    fill: #000; */
}